.container {
  margin: 20px auto;
  width: 890px;
  padding: 5px 5px 5px 35px;
  border: 5px solid black;
  height: 800px;
  border-radius: 20px;
  background-image:url('/background.jpg');

}
th {
  text-align: left;
}
h1{ color:red;

}
h2{

}

header {
  text-align: center;
}

header a {
  text-align: right;
}

.login_box {
  top: 70px;
  right: 5px;
  width: 260px;
  margin: 0 auto;
  border: 3px solid black;
  background-color: #CCFF99;

}

.tag_section {
  float: left;
  background-color: #D5E8F2;
  border: 1px solid black;
  width: 18%;
  height: 65%;
  border-radius: 5px;
  margin-top: 5px;
}

.user_section {
  float: left;
  background: #D5F2D6;
  border: 1px solid black;
  width: 18%;
  height: 65%;
  border-radius: 5px;
  margin-top: 5px;
}

.content {
  float: left;
  background-color: #996633;
  width: 60%;
  height: 65%;
  border: 1px solid black;
  margin-top: 5px;
}

.content table {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}

.page_title {
  text-align: center;
}

input {
  display: list-item;
}


header{
  background: blue;
}
