<form class="signup_form" action='/signup' method='post'>
  <input type="text" name="first_name" value="First Name">
  <input type="text" name="last_name" value="Last Name">
  <input type="text" name="email" value="Email">
  <input type="password" name="password" value="password">
  <input type="text" name="username" value="User Name">
  <input type="submit" value="Sign up!!">
</form>