<form class="new_post_form" action='/submit_post' method='post'>
  Title:<input type="text" name="title">
  <br>
  Content:
  <br>
  <textarea cols="50" rows="10" name="content">
  </textarea>
  <br>
  <label for="post_tags">Tags:</label>
  <input id="post_tags" name="tags" value="Place tags separated by commas">
  <input type="submit" value="Post it!">
</form>